<h1>Signup to WT2GT.me</h1>

<%= render 'form' %>

    <div class="field">
    <%= button_tag "Sign in with Facebook" %>
  </div>

      <div class="field">
    <%= button_tag "Sign in with Twitter" %>
  </div>

        <div class="field">
    <%= button_tag "Sign in with Google+" %>
  </div>
