<section id="main">
  <div class="content">
		<h1 id="signup_title">Receive only gifts<br/>you really like</h1>
		<h2 id="make">Making gifting easier</h2>
		<p id="what">What To Get is your personal wishlist which helps your friends know what you like.</p>
		<h2 id="find">Get started</h2>

		<%= render 'form' %>
  </div>
</section>



    <div class="field">
    <%= button_tag "Sign in with Facebook" %>
  </div>

      <div class="field">
    <%= button_tag "Sign in with Twitter" %>
  </div>

        <div class="field">
    <%= button_tag "Sign in with Google+" %>
  </div>

<section id="feature1" data-speed="6" data-type="background">
    <div class="content">
      <h2>One wishlist for any shop<br /> and every occasion</h2>
      <p>What To Get is your personal wishlist which helps your friends know what you like.</p>
    </div>
  </section>

  <section id="feature2" data-speed="6" data-type="background">
    <div class="content">
      <h2>Share with friends and<br/>discover their likes</h2>
      <p>Everybody likes many things but there are only a couple of items you really desire. Share your list with close friends or family and find the right gifts for them too.</p>
    </div>
  </section>

  <section id="feature3" data-speed="6" data-type="background">
    <div class="content">
      <h2>No more unwanted gifts</h2>
      <p>Socks, pijamas, bottles of wine or ornaments. As nice as they are, there are things which you would prefer receiving, or giving for that matter. Time to make every gift a special one.</p>
    </div>
  </section>