<section id="full">
  <div class="content">
		<h1>Connect your networks</h1>
<p>Share your wishlists with your friends and discover what your friends want.</p>
<%= render 'step2_form' %>
  </div>
</section>
