<section id="full">
  <div class="content">
		<h1>Welcome <%= @first_name  %></h1>
		<p>
A few more steps and we are done.<br/>
All you need to do is set up a username and a password.
</p>
<%= render 'step1_form' %>
  </div>
</section>



