<%= form_tag :action => 'import' do %>
<section>  
  <div class="field">
    <%= button_tag "Amazon Wishlist" %>
  </div>

      <div class="field">
    <%= button_tag "ASOS Wishlist" %>
  </div>

        <div class="field">
    <%= button_tag "John Lewis Wishlist" %>
  </div>


<% end %>