<%# ***** SIDE CONTENT ***** %>
<% content_for(:left) do %>
<%= render 'subnav' %>
<% end %>

<h1>Payment Details</h1>
<h2>Linked Cards</h2>
<ul>
	<li>Amex X234</li>
	<li>Visa X001</li>
	<li>Amex X349</li>
</ul>
<h2>Add new card</h2>