<%# ***** SIDE CONTENT ***** %>
<% content_for(:left) do %>
<%= render 'subnav' %>
<% end %>

<section id="full">
  <div class="content">
    <h1 id="title">Settings Profile</h1>


<%= render 'profile_settings_form' %>

  </div>
</section>