// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signup_title {height:155px; position:absolute; top:56px; }
#signup_first_name {position:absolute; top:375px; left:50px; width:221px; }
#signup_last_name {position:absolute; top:375px; left:291px; width:221px; }
#signup_email {position:absolute; top:450px; left:50px; width:463px;}
#create {position:absolute; top:525px; left:50px; width:221px; height:50px; border-radius: 4px; background-color:#6EBD98; border:none; border-bottom: 2px solid #2E7659;}
